 .r{
    background-color: #db2323;
    width: auto;
    height: auto;
    .card{

    }
      height: 365.500px;
      min-width: 381.250px;
      border-radius: 12px;
      border: none;
     


      .card-body{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 16px;

          .calendar_header{
            width: 100%;
            height: 38px;
            background-color: #ecf2fe;
            border-radius: 20px;
            display: flex;
            justify-content: center;
            align-items: center;

            .a{
              width: calc(100% - 12px);
              height: calc(100% - 12px);

              .circle_svg {
                background-color: #ffffff;
                width: 26px;
                height: 26px;
                cursor: pointer;
                border: 1px solid #e1ebfe;
                transition: all 0.2s ease; 

                &:hover {
                  background-color: #3e80f9;
                  border: none;
                  
                  svg {
                    fill: #ffffff;
                  }
                }
                
                svg {
                  fill: #3e80f9;
                }
              }
              p{
                color: #0f141f;
                font-family: 'Urbanist', sans-serif;
                font-size: 15px;
                font-weight: 700;
                margin-top: 19px;
              }
            }
            
          }
          .calendar_week{
            width: 100%;
            height: 37px;
            border-radius: 8px;
            background-color: #ffffff;
            margin-top: 20px;
            display: flex;
            justify-content: center;
             border: 1px solid #d5dbe7;
             margin-bottom: 20px;

            .week{
              width: calc(100% - 40px);
              height: 37px;
              display: flex;
              gap: 30px;
              justify-content: center;
              align-items: center;

              p{
                 color: #06080c;
                font-family: 'Urbanist', sans-serif;
                font-size: 13px;
                font-weight: 700;
                margin-top: 17px;
              }
            }
          }

          .days{
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            margin: auto;
            justify-content: space-between;
            text-align: center;

            div{
              width: 42px;
              height: 42px;
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 14px;
              font-family: 'Roboto', sans-serif;
              border-radius: 100px;
              cursor: pointer;
              transition: all 0.2s ease; 


              &:hover{
                background-color: #ebf1fd;
                color:#3e80f9;
  
                
              }
            }
            .current-date{
              background-color: #3e80f9;
              color: #ffffff;
            }


           
          }

        
      }


      
    }