@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
@import '@fontsource/urbanist/400.css'; 
@import '@fontsource/urbanist/500.css'; 
@import '@fontsource/urbanist/600.css'; 
@import '@fontsource/urbanist/700.css'; 

$color_main:#0f141f;
$color_main1:#667797;
$color_main2:#d5dbe7;


@mixin text_h3{
    color: $color_main;
    font-size: 22px !important;
    font-weight: 700;
    font-family: 'Urbanist', sans-serif;
}
@mixin select-dropdown{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: $color_main1;
    font-size: 13px;
    border: 1px solid $color_main2;
}
  
.graph{
    width: 100%;
    height: 100%;

    .card{
        .card-body{
            h4{
                @include text_h3();
                margin-top: 1px;
            }
            .select-dropdown{
                font-family: "Roboto", sans-serif;
                font-weight: 400;
                color: #667797;
                font-size: 13px;
                border: 1px solid #d5dbe7;
                padding: 4px 8px ;
                cursor: pointer;
    
                &:focus{
                border: 1px solid #6290ee;
                box-shadow: none;
                }
            }
        }
    }   
}

   

        

    