@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/transitions";

header {
  display: flex;
  
  .sidebar {
    min-height: 100vh;
    transition: all 0.3s;
    position: fixed;
    z-index: 1000;
    width: 251px;
    display: flex;
    border-right: 1px solid #d5dbe7;
    background-color: #ffffff;

  
    
      
    .left_header {
      width: 230px;
      height: 100vh;
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-left: 20px;
      background-color: #ffffff;
      
      .logo_img {
        width: min-content;
        height: 32px;
        margin-top: 12px;
        .logo{
          margin-right: 20px;
        }
      }
      .scrollable-container {
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        
        &::-webkit-scrollbar {
          width: 6px;
        }
        
        &::-webkit-scrollbar-track {
          background: #f1f1f1;
          border-radius: 10px;
        }
        
        &::-webkit-scrollbar-thumb {
          background: #c1c1c1;
          border-radius: 10px;
        }
        
        &::-webkit-scrollbar-thumb:hover {
          background: #a8a8a8;
        }
    
        .dropdown_con, .button_couses_container, .button_authetication_container {
          width: auto;
          height: auto;
         
          margin-bottom: 10px;
          margin-top: 10px;
          position: relative; 
          
          
          .btn {
            border-radius: 8px !important;
            height: 40px;
            width: 205px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            .element_button, .element_button_courses {
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 8px;
            

              
              .button_svg {
                width: 24px;
                height: 25px;
              }

           
              
              .text_button {
                font-family: 'Roboto', sans-serif;
                font-size: 15px;
                color: #ffffff;
              }
              
              .text_button1 {
                font-family: 'Roboto', sans-serif;
                font-size: 15px;
                color: #667797;
              }
              
              .u {
                display: flex;
                margin-left: 23px;
                
                .number_button {
                  color: #3e80f9;
                  font-family: 'Roboto', sans-serif;
                  font-size: 13px;
                  font-weight: 400;
                }
                
                .rounded-circle {
                  width: 22px;
                  height: 22px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                }
              }
            }
          }
        }
        
        .dropdown-menu-in-flow {
          position: relative; 
          min-width: 180px;
          border: none;
          background-color: transparent;
          box-shadow: none;
          margin-top: 5px;
          
          .dropdown-item {
            cursor: pointer;
            font-family: 'Roboto', sans-serif;
            font-size: 13px;
            font-weight: 400;
            align-items: center;
            margin-left: 15%;
            position: relative;
            padding: 5px 0;
            color: #7585a5;
            background: none;
            border: none;
            text-align: left;
            width: 100%;
            
            &::before {
              content: "";
              position: absolute;
              top: 50%;
              left: -15px;
              transform: translateY(-50%);
              width: 10px;
              height: 2px;
              background-color: #d5dbe7;
              border-radius: 1px;
            }
            
            &:hover {
              color: #3e80f9;
              background-color: transparent;
            }
          }
        }

        .w{
          width: 100%;
          height: auto;

          button{
            width: 205px;
            height: 40px;
            display: flex;
            margin-top: 10px;
            border:none;
            background: none;
            gap:10px;
            

            svg{
              margin-top: 7px;
              margin-left: 7px;
              fill: #667797;

            }

            p{
              margin-top: 7px;
              font-family: 'Roboto', sans-serif;
              font-size: 15px;
              font-weight: 400;
              color:#667797;
            }

          }

          &:hover{
            button{
              background-color: #9bcbfc;
              border-radius: 8px;
            }

            svg{
              fill:#1d72f2
            }
            p{
              color: #1d72f2;
            }
          }
        }
        .line{
          width: 205px;
          height: 1px;
          background-color:#d5dbe7;
          margin-top: 20px;
        }

        .text_h1{
          color: #667797;
          font-family: 'Roboto', sans-serif;
          font-size: 14px;
          font-weight: 600;
          margin-top: 20px;
          margin-left: 20px;

        }

        .certificate {
          position: relative; 
            .k {
              position: relative;
              width: 100%;
              height: 393px;
              
              .square {
                width: 205px;
                height: 219px;
                background-color: #4c49ee;
                position: relative; 
                z-index: 1;
                margin-top: 160px;
                border-radius: 20px;
                background-color: #ecf2fe;
                display: flex;
                justify-content: center;
                align-items: center;

                .k{
                  width: 165px;
                  height: 137px;
                  margin-top: 30px;
                  display: flex;
                  flex-direction: column;

                  h1{
                    color:#0f141f ;
                    font-family: 'Roboto', sans-serif;
                    font-weight: 700;
                    font-size: 18px;
                    text-align: center;
                  }
                  p{
                    text-align: center;
                    color: #0c1018;
                    font-size: 15px;
                    font-weight: 400;
                    font-family: 'Roboto' sans-serif;

                  }
                  .button_card{
                    display: flex;
                    justify-content: center;

                    button{
                      border-radius: 100px;
                       font-size: 15px;
                        font-weight: 500;
                        font-family: 'Roboto' sans-serif;
                        width: 118px;
                        height: 45px;
                    }
                  }
                }
                
              }
              
              .circle {
                width: 114px;
                height: 114px;
                background-color: white;
                position: absolute; 
                top: -80px; 
                left: 50%;
                transform: translateX(-50%);
                z-index: 3;
                background-repeat: no-repeat;
                background-position-x: 5px;
                background-position-y: 20px;
               
                .circle.custom-border {
              border: 5px solid #ecf2fe !important;
            }
                
               

              }
            }
          }
       
      
      }
    }
  }
  }
  
  
  .top-navbar {
    background-color: #ffffff;
    z-index: 999;
    height: 75px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid #d5dbe7;

   .search {
  width: 350px;
  height: 40px;
  margin-left: 276px;
  border-radius: 100px;
  border: none;
  background-color: #ecf2fe;
  transition: border 0.2s;
  

  button {
    margin-left: 5px;
    width: 20px;
    height: 20px;
    margin-top: 5px;
    border: none;
    background: none;

    svg {
      fill: #dfdfe7;
    }
  }

  input {
    border: none;
    background: none;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #7b869e;
    padding-left: 10px;
    padding-top: 10px;

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }

  &.search-focused {
    border: 1px solid #0d6efd; // Синяя обводка
  }
}

  

    .user{
      width: auto;
      height: 42px;

      margin-right: 24px;
      gap:10px;

      

      .dropdown {
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;

        button {
            width: 40px;
            height: 40px;
            border: none;
            background-color: #ecf2fe;
            display: flex;
        align-items: center;
        justify-content: center;   
      }
    }
}

      

      .shaking-animation {
        animation: shake-cycle 5s infinite;
  &:hover {
    animation: shake 0.5s ease-in-out;
  }
  
  @keyframes shake-cycle {
        0%, 90% { transform: rotate(0deg); }      
        91% { transform: rotate(-20deg); }        // начало тряски
        93% { transform: rotate(10deg); }
        95% { transform: rotate(-5deg); }
        97% { transform: rotate(20deg); }          // конец тряски
        100% { transform: rotate(0deg); }         // конец цикла
    }
}

.alarm-notify {
    width: 8px;
    height: 8px;
    background-color: #ff4757;
    border-radius: 50%;
    position: absolute;
    top: -2px;     // поднимает кружок выше
    right: 0px;   // сдвигает вправо
    animation: pulse 2s infinite;

    @keyframes pulse {
        0% { transform: scale(1); opacity: 1; }
        50% { transform: scale(1.2); opacity: 0.7; }
        100% { transform: scale(1); opacity: 1; }
    }
}
      .dropdown-menu{
        width: 328px;
        max-height: 367px;
        border-radius: 12px;
        padding-top: 0px;
        
        .card-header{
          background-color: #3e80f9;
          color: #ffffff;
          width: 100%;
          height: 46px;
          padding-top: 5px;
          border-radius: 12px 12px 0 0;

          .element{
            padding: 0px 15px;
            h5{
              font-family: 'Urbanist', sans-serif;
              font-weight: 600px;
              
            }

          
            button{
              border-radius: 5px;
              width: 43px;
              height: 25px;
              font-size: 14px;
              font-family: 'Roboto', sans-serif;
              margin-top: 5px;

              &:hover{
                color: #3e80f9;
              }
              
            }
            .close-dropdown{
              background: none;
              padding: 0px;

              svg{
                fill:#ffffff;
               
              }
            }
          }
          }
          .card-body{
              max-height: 320px; 
              overflow-y: auto; 
              
                &::-webkit-scrollbar {
                  width: 6px;
                }
                
                &::-webkit-scrollbar-track {
                  background: none;
                  border-radius: 10px;
                }
                
                &::-webkit-scrollbar-thumb {
                  background: none;
                  border-radius: 10px;
                }
                
                &::-webkit-scrollbar-thumb:hover {
                  background: #a8a8a8;
                }
              }
            .b{
              padding: 24px 24px;
             
             
             
              .info_profile{
                width: 100%;
                height: auto;
                margin-left: 10px;

              

                p{
                  color: #667797;
                  cursor: pointer;
                  font-size: 15px;
                  font-family: 'Roboto', sans-serif;
                  font-weight: 500;
                  line-height:22.5px;
                  width: 194px;
                  height: 45px;
                  white-space: wrap;      
                  overflow: hidden; 
                  -webkit-line-clamp: 2;        
                  -webkit-box-orient: vertical;
                  text-overflow: ellipsis;

                }
                .dropdown{
                  background: none;
                  width: 16px;
                  height: 16px;
                  margin-top: 10px;

                  svg{
                    fill:#667797;
                  }
                  
                }
                .info_app{
                  margin-top: 10px;
                  width: 214px;
                  height: 22px;

                  .a{
                    width: 100%;
                    height: auto;
                    margin-top: 30px;

                    img{
                      width: 14px;
                      height: 14px;
                      margin-top: 3px;
                    }
  
                    .m{
                      width: 100%;
                      height: auto;
                      p{
                        white-space: nowrap;      
                        overflow: hidden; 
                        -webkit-line-clamp: 1;        
                        -webkit-box-orient: vertical;
                        text-overflow: ellipsis;
                        color: #06080c;
                        font-family: 'Roboto', sans-serif;
                        font-size: 14px;
                        font-weight: 400;
                        margin-left: 5px;
                        padding-top: 0px;
                        width: 115px;
                        height: 22px;
                      
                      }
                      span{
                        color: #7585a5;
                        font-family: 'Roboto', sans-serif;
                        font-size: 12px;
                        font-weight: 400;
                      }
                    }
                  }


                }
                .info_button{
                  margin-top: 20px;


                  .button-1{
                    width: 83px;
                    height: 33px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 5px;
                    cursor: pointer;

                     &:hover{
                      background-color: #155bc8 !important;
                    }
                  }

                  .button-2{
                    width: 83px;
                    height: 33px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 5px;
                    border: 1px solid #d5dbe7;
                    background-color: #ffffff;
                    color: #7585a5;
                     &:hover{
                      background-color: #7585a5 !important;
                      color: #ffffff;
                      border: #7585a5;
                    }
                  }
                 
                }
                .info_time{
                  margin-top: 10px;
                  font-family: 'Roboto', sans-serif;
                  font-size: 13px;
                  font-weight: 400;
                  color: #7585a5;
                }
                .info_line{
                  width: 214px;
                  height: 1px;
                  background-color: #d5dbe7;
                  margin-top: 30px;
                }


              }
              .card-down-button{
                position: fixed;
              }
            }
           
        }
      
    

  
.button_couses_container,
.button_authetication_container {
  .normal_button {
    background-color: #ffffff !important;
    color: #667797 !important;
    border: 1px solid transparent !important;

    .button_svg1 {
      fill: #667797 !important;
    }

    .color_down {
      fill: #667797 !important;
    }

    .text_button1 {
      color: #667797 !important;
    }

    &:hover {
      background-color: #9bcbfc !important;
      color: #1d72f2 !important;

      .text_button1 {
        color: #1d72f2 !important;
      }

      .button_svg1,
      .color_down {
        fill: #1d72f2 !important;
      }
    }
  }

  .active_button {
    background-color: #1d72f2 !important;
    color: #ffffff !important;
    border: 1px solid #1d72f2 !important;

    .button_svg1,
    .color_down {
      fill: #ffffff !important;
    }

    .text_button1 {
      color: #ffffff !important;
    }

    &:hover {
      background-color: #155bc8 !important;
      color: #ffffff !important;

      .button_svg1,
      .color_down {
        fill: #ffffff !important;
      }
    }
  }
}}

// Стили для фиксированной кнопки внизу dropdown
.dropdown-menu {
  position: relative;
  padding-bottom: 60px; // Место для фиксированной кнопки
  
  .card-body {
    position: relative;
    max-height: 320px;
    overflow-y: auto;
    
    &::-webkit-scrollbar {
      width: 6px;
    }
    
    &::-webkit-scrollbar-track {
      background: none;
      border-radius: 10px;
    }
    
    &::-webkit-scrollbar-thumb {
      background: #c1c1c1;
      border-radius: 10px;
    }
    
    &::-webkit-scrollbar-thumb:hover {
      background: #a8a8a8;
    }
  }
  
  .card-down-button {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    border-top: 1px solid #d5dbe7;
    border-radius: 0 0 12px 12px;
    padding: 12px 24px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap !important;
    height: 51px;
    
    .button-view-all {
      background:none !important;
      color: #487fff;
      border: none;
      border-radius: 8px;
      font-family: 'Roboto', sans-serif;
      font-size: 16px;
      font-weight: 700;
      white-space: nowrap;
      
      
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.radio-menu{
  width: 194px;
  height: 224px;
  padding: 20px 20px;
  
  

  .card-body-radio-button{
    padding-top: 20px;

    .logo_label_radiobutton{
      margin-bottom: 16px;

      .logo{
        border: 1px solid #d5dbe7
      }
      .radiobutton{
        width: 152px;
        height: 32px;

        label{
          font-family: 'Roboto', sans-serif;
          font-size: 15px;
          font-weight: 600;

          
        }
      }
    }
  }
  
}



  .button_account{
    width: 78px !important;
    height: 42px !important;
    border-radius: 100px;
    border: 1px solid #7585a5 !important;
    margin-left: 10px;
   
    
    

    .img_profile{
      margin-right: 10px;
      img{
        width: 32px;
        height: 32px;
        z-index: 1;
        

      }
      .user_point{
        z-index: 4;
        width: 6px;
        height: 6px;
        position: absolute;
        background-color: #16a34a;
        left: 40px;
        top: 30px;
      }
    }
    .down_button{
      width: 32px;
      height: 32px;
      
    }

    
    
    
    
  }
  .size-window {
  width: 328px !important;
  min-height: 407px !important;
  max-height: 407px !important;
  padding: 20px !important;
  
  // Убедитесь, что контент правильно распределен
  display: flex !important;
  flex-direction: column !important;
}
  .profile_header{
    width: 100%;
    height: 75px;
    background-color: #ffffff;
    border-bottom: 1px solid #d5dbe7;

    img{
      width: 54px;
      height: 54px;
    }
    .name_email{
      width: 140px;
      height: 50px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin-top: 5px;
      margin-left: 7px;

      h1{
        color: #000000;
        font-family:"Urbanist", sans-serif;
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 0px;
      }
      p{
        color: #7585a5;
        font-family: 'Roboto', sans-serif;
        font-size: 13px;
        font-weight: 500;
        margin-top: 2px;
      }

    }
  }

  .sroll-button{
     // Убираем фиксированную высоту и делаем адаптивной
    max-height: 270px;
    margin-top: 20px;
    
             
              
          &::-webkit-scrollbar {
            width: 6px;
          }
          
          &::-webkit-scrollbar-track {
            background: none;
            border-radius: 10px;
          }
          
          &::-webkit-scrollbar-thumb {
            background: none;
            border-radius: 10px;
          }
          
          &::-webkit-scrollbar-thumb:hover {
            background: #a8a8a8;
          }

            button{
              width: 100% !important;
              height: 48px !important;
              background-color: #ffffff !important;
              margin-bottom: 3px;

              .scroll_button_logo{
                padding: 20px 12px;
                p{
                  color: #667797;
                  cursor: pointer;
                  font-family: 'Roboto', sans-serif;
                  font-size: 15px;
                  font-weight: 500;
                  margin-bottom: 0px;
                  margin-left: 8px;
                  margin-top: 2px;
                  
  
                }
              }

              &:hover{
                background-color: #ebf1fd !important;
                border-radius: 8px;
              }
              
            }
            .line_scroll{
              width: 100%;
              height: 1px;
              background-color:#d5dbe7 ;
              margin-bottom: 20px;
            }
                






              }
  
  