@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
@import '@fontsource/urbanist/400.css'; 
@import '@fontsource/urbanist/500.css'; 
@import '@fontsource/urbanist/600.css'; 
@import '@fontsource/urbanist/700.css'; 
.site_con{
  background-color:#ecf2fe ;
  width: 100%;
  height: 100%;
  min-height: 1000px;
  padding-left: 251px;
  padding-top: 75px;
  display: flex;
  

   .scrollable-container {
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        
        &::-webkit-scrollbar {
          width: 6px;
        }
        
        &::-webkit-scrollbar-track {
          background: #f1f1f1;
          border-radius: 10px;
        }
        
        &::-webkit-scrollbar-thumb {
          background: #c1c1c1;
          border-radius: 10px;
        }
        
        &::-webkit-scrollbar-thumb:hover {
          background: #a8a8a8;
        }

  .o{
    display: flex;
    .conatainer{
      width: 1191.750px;
     height: 100%;
      margin-left: 24px;
      flex-direction: row;
      
      
      .card_group{
        width: 100%;
        height: 158.500px;
        margin-top: 24px;
        display: flex;
        gap: 20px;
        
        .card{
          border-radius: 18px;
          border: none;
          
          
          
          .card-title{
            font-size: 22px;
            color: #0f141f;
            font-weight: 700;
            font-family: 'Urbanist', sans-serif;
            margin-bottom: 0px;
            
          }
          .card-text{
            color: #0c1018;
            font-size: 15px;
            font-weight: 400;
            font-family: 'Roboto', sans-serif;
            margin-top: 5px;
          }
          .icon_card_graphic{
            width: auto;
        height: auto;
        display: flex;
        gap: 120px;
        
        .icon_img{
          width: 48px;
          height: 48px;
          justify-content: center;
          border-radius: 100px;
          display: flex;
          align-items: center;
          
        }
      }
      
    }
    
  }
  .text_graph{
    font-size: 22px;
    font-family: "Urbanist", sans-serif;
    font-weight: 700;
    color: #0f141f;
  }

  .select-dropdown{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #667797;
    font-size: 13px;
    border: 1px solid #d5dbe7;
    padding: 4px 8px ;
    cursor: pointer;
    
    &:focus{
      border: 1px solid #6290ee;
      box-shadow: none;
    }
  }
  .graph{
    margin: 0;
  }
  .card_group2{
    width: 1191px;
    height: 406px;
    background-color: rgb(241, 28, 28);
    margin-top: 24px;
    border-radius: 12px;
    
    
    .card-body{
      .h1_text_buttons{
        background-color: coral;
        
        
        h1{
          color: #0f141f;
          font-size: 22px;
          font-weight: 700;
          font-family: 'Urbanist', sans-serif;
          margin-top: 5px;
          
        }
        
            .circle_text{
              display: flex;
              gap:5px;
              flex-direction: row;
              margin-right: 12px;
              color: #0c1018;
              font-family: 'Roboto', sans-serif;
              font-size: 13px;
              font-family: 400;
              margin-top: 10px;
              
              .circle{
                width: 8px;
                height: 8px;
                border-radius: 100px;
                margin-top: 5px;
                margin-left: 5px;
              }
            }
            .e{
              width: 81px;
              height: 31px;
              margin-top: 5px;
              border: 1px solid #d5dbe7;
              color: #667797;
              font-size: 13px;
              border-radius: 8px;
              margin-right: 5px;
            }
            
            .dropdown{
              width: 81px;
              height: 31px;
              
              button{
                width: 81px;
                height: 31px;
                margin-top: 7px;
                border: 1px solid #667797
                
                
                p{
                  font-size: 13px;
                  font-weight: 400;
                  font-family: 'Roboto', sans-serif;
                  margin-right: 30px;
                }
              }
            }
          }
          
        }
      }
    }
    
    .r{
      height: 365.500px;
      width: 381.250px;
      background-color: #ffffff;
      border-radius: 12px;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;

      .card-body{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 16px;

          .calendar_header{
            width: 100%;
            height: 38px;
            background-color: #ecf2fe;
            border-radius: 20px;
            display: flex;
            justify-content: center;
            align-items: center;

            .a{
              width: calc(100% - 12px);
              height: calc(100% - 12px);

              .circle_svg {
                background-color: #ffffff;
                width: 26px;
                height: 26px;
                cursor: pointer;
                border: 1px solid #e1ebfe;
                transition: all 0.2s ease; 

                &:hover {
                  background-color: #3e80f9;
                  border: none;
                  
                  svg {
                    fill: #ffffff;
                  }
                }
                
                svg {
                  fill: #3e80f9;
                }
              }
              p{
                color: #0f141f;
                font-family: 'Urbanist', sans-serif;
                font-size: 15px;
                font-weight: 700;
                margin-top: 19px;
              }
            }
            
          }
          .calendar_week{
            width: 100%;
            height: 37px;
            border-radius: 8px;
            background-color: #ffffff;
            margin-top: 20px;
            display: flex;
            justify-content: center;
             border: 1px solid #d5dbe7;
             margin-bottom: 20px;

            .week{
              width: calc(100% - 40px);
              height: 37px;
              display: flex;
              gap: 30px;
              justify-content: center;
              align-items: center;

              p{
                 color: #06080c;
                font-family: 'Urbanist', sans-serif;
                font-size: 13px;
                font-weight: 700;
                margin-top: 17px;
              }
            }
          }

          .days{
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            margin: auto;
            justify-content: space-between;
            text-align: center;

            div{
              width: 42px;
              height: 42px;
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 14px;
              font-family: 'Roboto', sans-serif;
              border-radius: 100px;
              cursor: pointer;
              transition: all 0.2s ease; 


              &:hover{
                background-color: #ebf1fd;
                color:#3e80f9;
  
                
              }
            }
            .current-date{
              background-color: #3e80f9;
              color: #ffffff;
            }


           
          }

        
      }


      
    }

    .h{
       width: 381.250px;
       border-radius: 18px;
       border:none;
       margin-top: 24px;
       margin-left: 24px;
       
       .card-body{
         width: calc(100% - 40px);
         height: auto;
         margin-top: 20px;
         margin-bottom: 20px;
         padding: 0;
         flex-direction: column;
         
         .k{
           width: 100%;
           height: 30px;
           margin-bottom: 11px;
         
  
           h1{
             color: #0f141f;
             font-family: 'Urbanist', sans-serif;
             font-size: 22px;
             font-weight: 700;
  
           }
  
           p{
             color: #3e80f9;
             font-family: Roboto, sans-serif;
             font-size: 13px;
             font-weight: 500;
             cursor: pointer;
             margin-top: 4px;
            
  
             &:hover{
               text-decoration: underline 
             }
  
           }
         }

         button{
          border-radius: 8px;
          margin-bottom: 10px;
          border: 1px solid #e2e3e5;
          background-color: #ffffff;
          width: 100%;
          height: 78px;



          .l{
            width: 44px;
            height: 44px;
            background-color: #ebf1fd;
            border-radius: 100px;
            margin-left: 5px;
          }

          &:hover{
            border: 1px solid #606060;
          }

          .z{
            flex-direction: column;
            margin-left: 7px;
            margin-top: 10px;
        

            .text_button1{
              color: #0f141f;
              font-family: 'Urbanist', sans-serif;
              font-size: 15px;
              font-weight: 700;
              margin-bottom: 2px;
            }
            .text_button2{
              color: #3b465e;
              font-family: 'Roboto', sans-serif;
              font-size: 13px;
              font-weight: 400;
          
              
              
              
              
            }
            
            
          }
          .c{
            margin-left: 140px;
            fill: #06080c;
            cursor: pointer;

            

            &:hover{
              fill:#3e80f9
            }
          }
           .c1{
            margin-left: 150px;
            fill: #06080c;
            cursor: pointer;

            &:hover{
              fill:#3e80f9
            }
          }

          
         }

       

       }
      }
      
    }
    .card_grah{
  margin-top: 24px;
  margin-left: 24px;
  width: 381.250px;
  
  .card{
    border-radius: 20px;
    border: none;
    width: 100%;

    .card-header{
      background-color: #ffffff;
      border-radius: 12px 12px 0 0;
      box-sizing: border-box;
      padding: 20px 20px;
      
      h5{
        font-family: 'Urbanist', sans-serif !important;
        font-size: 18px !important;
        font-weight: 700 !important;
        margin: 0px;
      }
    }

    .card-body{
      display: flex;
      height: auto;
      width: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-top: 20px;
      border-radius: 18px;
    }
  }
  
  .progress-chart-container {
    position: relative;
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
  }

  .total-time {
    text-align: center;
    display: flex;
    flex-direction: row;
    gap: 5px;
    height: 36px;
    
    p{
      font-size: 18px;
      font-weight: 700;
      font-family: 'Urbanist', sans-serif;
      margin-top: 0px;
    }
  }

  .course-status {
    display: flex;
    justify-content: start;
    gap: 73px;
    width: 100%;
    margin-top: 0px;
    
    .status-item {
      text-align: center;
      flex: 1;
      
      .progress-bar {
        height: 3px;
        width: 30px;
        border-radius: 4px;
        overflow: hidden;
        margin-bottom: 6px;
        margin-top: 5px;
        margin-left: 17px;
        
        .progress-fill {
          height: 3px;
          width: 30px;
          transition: width 0.3s ease;
        }
      }
      
      .progress-numbers {
        font-size: 15px;
        color: #0f141f;
        font-family: 'Urbanist', sans-serif;
        margin: 2px 0;
        font-weight: 700;
      }
      
      .progress-label {
        font-size: 13px;
        color: #0c1018;
        font-family: 'Roboto', sans-serif;
        margin: 0;
        font-weight: 400;
      }
    }
  }
}

.down-board{
  border-radius: 18px 18px 0 0 ;
  border:none;
  .card-body{
    padding: 20px 20px;
    p{
      color: #667797;
      font-size: 13px;
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      margin: 0;
      
    }
    .link{
      button{
        border:none;
        background: none;
        color: #667797;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 13px;

        &:hover{
          color: #3e80f9;
          text-decoration: underline;
        }
      }
    }
  }

}


    }
    .card{
      border-radius: 16px;
      .card-body{
        padding: 20px 20px;
      }
      .h1_text_card2{
        color: #0f141f;
        font-family: "Urbanist", sans-serif ;
        font-size: 22px;
        font-weight: 700;
      }
      .p_text{
        color: #3e80f9;
        font-size: 13px;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        margin-bottom: 0px;
        cursor: pointer;
  
        &:hover{
          text-decoration: underline;
        }
    }

    .cards_3{
      width: 100%;
      height: auto;

      .card{
        border: 1px solid #d5dbe7;
        .card_img{
          width: 100%;
          height: 164px;
          background-color: #d4e1f9;
          border-radius: 12px;
          .card-img{
            width: 130px;
            height: 131px;
          }
        }

        .card-body{
          padding: 8px 8px;

          .vacantion{
           
            width: 96px;
            height: 23px;
            background-color: #3e80f9;
            margin: 15px 0;
            background-color: #dcfce7;
            p{
              font-family: 'Roboto', sans-serif;
              font-size: 13px;
              font-weight: 400;
              margin-bottom: 0px;
            }
            
          }
          
            h5{
              color: #0f141f;
              font-family: "Urbanist", sans-serif !important;
              font-size: 18px;
              font-weight: 700 !important;
              cursor: pointer;

              &:hover{
                color: #3e80f9;
              }


          }
          .prof-people{
            margin-top: 20px;

            img{
              width: 28px;
              height: 28px;
            }

            span{
              color: #000;
              font-family: "Roboto", sans-serif;
              font-size: 13px;
              font-weight: 400;
              margin-left: 10px;

              a{
                color: #000;
                font-family: "Roboto", sans-serif;
                font-size: 13px;
                font-weight: 600;
                text-decoration: none;

                &:hover{
                  color: #3e80f9;
                  text-decoration: underline;
                }

              }
            }
          }

          .prof-hour{
            margin: 10px 0px;
            p{
              color: #0c1018;
              font-family: 'Roboto', sans-serif;
              font-size: 13px;
              font-weight: 400;
              margin-bottom: 0px;
              margin-left: 5px;
              cursor: pointer;
            }
          }
          .star_number_buttons_view{
            margin-top: 30px;

            .star_number{
             p{
              color: #0c1018;
              font-family: 'Roboto', sans-serif;
              font-size: 13px;
              font-weight: 700;
              margin-bottom: 0px;
              margin-left: 5px;
              cursor: pointer;
             }
            }
            .buttons_view{
             border: 1px solid #3e80f9 ;
             color:#3e80f9;
             background-color: #ffffff ;
             width: 124px;
             height: 35px;
             text-align: center;
            font-size: 15px; 
            font-weight: 500; 
            cursor: pointer;
            
            &:hover{
              background-color: #3e80f9;
              color: #fff;
            }
          }

          }
        

        
      }
    }


    }

  
}
.dashboard-footer{
  height: 60px;
  width: 100%;
  background-color: #fff;
  margin-left: 24px;
  margin-right: 24px;
}
}