.h{
       width: 381.250px;
       border-radius: 18px;
       border:none;
       margin-top: 24px;
      
       
       .card-body{
         width: calc(100% - 40px);
         height: auto;
         margin-top: 20px;
         margin-bottom: 20px;
         padding: 0;
         flex-direction: column;
         
         .k{
           width: 100%;
           height: 30px;
           margin-bottom: 11px;
         
  
           h1{
             color: #0f141f;
             font-family: 'Urbanist', sans-serif;
             font-size: 22px;
             font-weight: 700;
  
           }
  
           p{
             color: #3e80f9;
             font-family: Roboto, sans-serif;
             font-size: 13px;
             font-weight: 500;
             cursor: pointer;
             margin-top: 4px;
            
  
             &:hover{
               text-decoration: underline 
             }
  
           }
         }

         button{
          border-radius: 8px;
          margin-bottom: 10px;
          border: 1px solid #e2e3e5;
          background-color: #ffffff;
          width: 100%;
          height: 78px;



          .l{
            width: 44px;
            height: 44px;
            background-color: #ebf1fd;
            border-radius: 100px;
            margin-left: 5px;
          }

          &:hover{
            border: 1px solid #606060;
          }

          .z{
            flex-direction: column;
            margin-left: 7px;
            margin-top: 10px;
        

            .text_button1{
              color: #0f141f;
              font-family: 'Urbanist', sans-serif;
              font-size: 15px;
              font-weight: 700;
              margin-bottom: 2px;
            }
            .text_button2{
              color: #3b465e;
              font-family: 'Roboto', sans-serif;
              font-size: 13px;
              font-weight: 400;
          
              
              
              
              
            }
            
            
          }
          .c{
            margin-left: 140px;
            fill: #06080c;
            cursor: pointer;

            

            &:hover{
              fill:#3e80f9
            }
          }
           .c1{
            margin-left: 150px;
            fill: #06080c;
            cursor: pointer;

            &:hover{
              fill:#3e80f9
            }
          }

          
         }

       

       }
      }
      
    