.down-board{
  height: auto !important;
  width: 100%;
  padding-left: 24px;
  padding-right: 24px;

  .card{
    border-radius: 16px 16px 0px 0px;
    border:none;
    .card-body{
    padding-top: 18px !important
        
    }
    
  }
 

  
}